#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

insmod reboot
insmod smbios

smbios --get-string=04 --set smbios_manufacturer
smbios --get-string=05 --set smbios_product_name

if [ "$smbios_manufacturer" = "innotek GmbH" ]; then
	if [ "$smbios_product_name" = "VirtualBox" ]; then
		set smbios_matched=true
	fi
elif [ "$smbios_manufacturer" = "Phoenix Technologies LTD" ]; then
	# VMware - BIOS mode
	# smbios_product_name is "6.0", not really worth checking
	set smbios_matched=true
elif [ "$smbios_manufacturer" = "VMware, Inc." ]; then
	set smbios_matched=true
fi

if [ "$smbios_matched" != "true" ]; then
	echo "ERROR: Unsupported machine. Rebooting in 5 seconds."
	sleep 5
	reboot
fi
